
$color-light-gold: #FCF5C7;
$color-light-purple: #A34672;
$color-pink: #FF867D;
$color-peach: #C3574C;
$color-gold: #FFC501;
$color-aquablue: #1CD4DE;

$side-margins: 0px 4rem;


$default-font-size: 1.6rem;
