*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #42275a;
  background: -webkit-linear-gradient(0deg, #734b6d, #42275a);
  background: linear-gradient(0deg, #734b6d, #42275a);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
